# Системные файлы
.DS_Store
Thumbs.db

# IDE и редакторы
.idea/
.vscode/
.vs/

# Результаты сборки
bin/
obj/
*.suo
*.user
*.userosscache
*.sln.docstates

# Конфигурационные файлы
appsettings.*.json
appsettings.Development.json
*.env

# Логи
*.log

# Временные и кэшированные файлы
tmp/
temp/
*.tmp
*.temp

# Папки зависимостей
node_modules/

# Docker
docker-compose.override.yml

# Результаты тестирования
TestResults/

